.menu-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 5px 0;
    padding-left: 10px;
    font-size: 18px;
    color: var(--font-color-opa-low); // background-color: blueviolet;

    .op-bicon {
        display: none;
    }

    &:hover {
        color: var(--font-color);
        transition: color 0.15s ease-in 0.2s;
    }
}

.active {
    color: var(--primary);

    .op-bicon {
        display: inline;
    }

    .op-sicon {
        display: none;
    }
}

.icon {
    width: 20px !important;
}

.op-title {
    margin-left: 25px !important;
}
