.wrapper {
    width: var(--default-sidebar-width);
    background-color: var(--background-color-bars);
    height: 100%;
    position: fixed;
    left: 0;
    color: var(--font-color);
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 5px 0;
    padding-left: 10px;
    font-size: 18px;
    color: var(--font-color-opa-low); // background-color: blueviolet;
    cursor: pointer;

    .op-bicon {
        display: none;
    }

    &:hover {
        color: var(--font-color);
        transition: color 0.15s ease-in 0.2s;
    }

    span {
        margin-left: 25px;
    }
}
