.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: var(--default-header-height);
    display: flex;
}

.content {
    flex: 1;
    min-height: 1000px;
    margin-left: var(--default-sidebar-width);
    background-color: var(--background-color);
    color: var(--font-color);
}
